
TestingPrograms/NNMF/FaceDetection/CBCL_Database/

*.asv

TestingPrograms/ShallowNeuralNetwork/testandoUmasCoisas.m

TestingPrograms/ShallowNeuralNetwork/testandoUmaFuncao.m

TestingPrograms/Demonstracoes/

Samples/
InitialTests/
DescriptorsPhase/